<ns-action-bar title="Meetings" [hasMenu]="true"></ns-action-bar>

<GridLayout rows="auto, auto, auto" cols="auto, auto, auto">
    <StackLayout
        class="meet-status-container"
        row="0"
        col="0"
    >
        <SegmentedBar
            [items]="meetingOptions"
            selectedIndex="{{ selectedIndex }}"
            (selectedIndexChange)="onSelectedIndexChange($event)"
            class="segmentedBar"
        ></SegmentedBar>
    </StackLayout>

    <StackLayout
        class="meetings-container"
        row="1"
        col="0"
    >

        <ScrollView>
            <StackLayout>
                <ListView height="450" [items]="interests">
                    <ng-template let-interest="item" let-i="index" let-odd="odd" let-even="even">
                        <StackLayout orientation="horizontal" class="list-group-item" height="40">
                            <Label  [text]="interest.description"></Label>
                        </StackLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
        </ScrollView>
    </StackLayout>

</GridLayout>
