<ns-action-bar title="Profile" [hasMenu]="false">
    <ActionItem
        (tap)="onSaveTap()"
        android.position="actionBarIfRoom"
        ios.position="right"
        text="Save"
    ></ActionItem>
    <NavigationButton text="Back"></NavigationButton>
</ns-action-bar>

<GridLayout rows="auto, auto, auto" cols="auto, auto, auto" class="interest-modal-container">
    <ScrollView row="0" col="0">
            <StackLayout>
                    <ListView height="450" [items]="interestOptions" (itemTap)="onItemTap($event)">
                            <ng-template let-interest="item" let-i="index" let-odd="odd" let-even="even">
                                    <StackLayout orientation="horizontal" class="list-group-item" height="40">
                                            <Label
                                                    [ngClass]="interest.isSelected === true ? 'interest-label-selected': 'interest:label'"
                                                    [text]="interest.name"
                                            ></Label>
                                    </StackLayout>
                            </ng-template>
                    </ListView>
            </StackLayout>
    </ScrollView>
    <Button
            row="1"
            col="1"
            class="add-interest"
            (tap)="addInterest()"
            text="Add Interest"
            textAlignment="center"
    ></Button>

    <Button
            row="2"
            col="1"
            class='submit-btn'
            text="Done"
            (tap)="onDoneTap()"
    ></Button>
</GridLayout>
