<TabView androidTabsPosition ="bottom">
    <StackLayout *tabItem="{title: 'Home', iconSource: 'res://home' }">
        <page-router-outlet name="home">
        </page-router-outlet>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Meetings', iconSource: 'res://profile' }">
        <page-router-outlet name="meetings">
        </page-router-outlet>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Profile', iconSource: 'res://profile' }">
        <page-router-outlet name="profile">
        </page-router-outlet>
    </StackLayout>
</TabView>
