<ns-action-bar title="Meetup Details">
    <NavigationButton text="Back"></NavigationButton>
    <ActionItem *ngIf="!editMode" ios.position="right" android.position="actionBar" pageTransition="slideLeft" (tap)="changeEditMode()">
        <Label text="Edit"></Label>
    </ActionItem>
    <ActionItem *ngIf="editMode" ios.position="right" android.position="actionBar" pageTransition="slideLeft" (tap)="changeEditMode()">
        <Label text="Done"></Label>
    </ActionItem>
</ns-action-bar>
<FlexboxLayout class="page" alignItems="center" flexDirection="column" justifyContent="space-between" alignContent="Center">
    <Label horizontalAlignment="center" text="Current meetup location:" style="margin-top: 20px"></Label>
    <Image height="400px" [src]="meetingInfo.matchedTo.mapPic"></Image>

    <StackLayout class="hr-light"></StackLayout>

    <StackLayout class="edit">
        <!--<StackLayout orientation="horizontal" class="spacer">
                <Label
                    class="header headline"
                    width="auto"
                    [text]="'Meeting Details'"
                ></Label>
        </StackLayout>-->

        <StackLayout orientation="horizontal" class="spacer">
            <Label
                class="label"
                width="auto"
                text="Meeting with: "
            ></Label>
            <Label
                width="auto"
                text="Luffy"
            ></Label>
        </StackLayout>

            <StackLayout orientation="horizontal" class="spacer">
                <Label
                    class="label"
                    width="auto"
                    text="Date: "
                ></Label>
                <Label
                    *ngIf="!editMode"
                    [text]="meetingInfo.meetingDetails.Date"
                ></Label>
                <Button
                    *ngIf="editMode"
                    text="{{ date }}"
                    class="edit-time-btn"
                    (tap)="onEditDateTap()"
                ></Button>
            </StackLayout>

            <StackLayout orientation="horizontal" class="spacer">
                <Label
                    class="label"
                    width="auto"
                    text="Time: "
                ></Label>
                <Label
                    *ngIf="!editMode"
                    width="auto"
                    [text]="meetingInfo.meetingDetails.Time"
                ></Label>
                <Button
                    *ngIf="editMode"
                    text="{{ time }}"
                    class="edit-time-btn"
                    (tap)="onEditTimeTap()"
                ></Button>
            </StackLayout>

            <StackLayout orientation="horizontal" class="spacer">
                <Label
                    class="label"
                    width="auto"
                    text="Location: "
                ></Label>
                <Label
                    *ngIf="!editMode"
                    width="auto"
                    [text]="meetingInfo.meetingDetails.Location"
                ></Label>
                <TextField width="60%" *ngIf="editMode"
                    class="input" [(ngModel)]="meetingInfo.meetingDetails.Location"></TextField>
            </StackLayout>


            <StackLayout orientation="horizontal" class="spacer">
                <Label
                    class="label"
                    width="auto"
                    text="Comments: "
                ></Label>
                <Label
                    *ngIf="!editMode"
                    width="auto"
                    [text]="meetingInfo.meetingDetails.Comments"
                ></Label>
                <TextField width="60%" *ngIf="editMode"
                    class="input" [(ngModel)]="meetingInfo.meetingDetails.Comments"></TextField>
            </StackLayout>
    </StackLayout>


    <!--<StackLayout class="hr-light"></StackLayout>-->

    <!--StackLayout orientation="horizontal">
        <Label
            horizontalAlignment="left"
            text="ICON 1 "
        ></Label>
        <Label
            horizontalAlignment="center"
            text="ICON 2 "
        ></Label>
        <Label
            horizontalAlignment="right"
            text="ICON 3 "
        ></Label>
    </StackLayout>-->

    <StackLayout class="hr-light"></StackLayout>

    <StackLayout class="btn-container">
        <Button class="submit-btn"
            horizontalAlignment="center"
            text="Submit Meetup Request"
            *ngIf="!editMode"
            [hidden]="true"
            (tap)="onSubmitBtn()"
        ></Button>
        <!--<SegmentedBar
            [items]="confirmOptions"
            selectedIndex="{{ selectedIndex }}"
            (selectedIndexChange)="onSelectedIndexChange($event)"
            class="segmentedBar"
        ></SegmentedBar>-->
    </StackLayout>
</FlexboxLayout>
