/* Add mobile styles for the component here.  */


.edit {
    border-radius: 15;
    background-color: #eeeeee;
    padding: 18;
    width: 85%;
}

TextField {
    background-color: white;
    padding: 0px 5px 0px 5px;
}

.spacer {
    margin-top: 25px;
}

.headline {
    text-decoration: underline;
    font-weight: bold;
}

image {
    border-radius: 50%;
}

.edit-time-btn {
    color: blue;
    background-color: transparent;
}
