<ns-action-bar title="Profile" [hasMenu]="true">
    <ActionItem
        (tap)="actionExecute()"
        android.position="actionBarIfRoom"
        ios.position="right"
        text="Edit"
    ></ActionItem>
    <NavigationButton text="Back"></NavigationButton>
</ns-action-bar>

<GridLayout class="animate-fadeInUp-delay-0ms">
    <ScrollView orientation="vertical">
        <GridLayout rows="auto, auto, auto, auto,auto" columns="*">
            <Image row="0" col="0" src="~/images/profileimage.png" stretch="aspectFill"
                class="profilePic"></Image>
            <Label row="1" col="0" text="{{ name }}" class="title-profile"
                textAlignment="center"            ></Label>

            <GridLayout row="2" col="0" rows="auto, auto" columns="auto, auto"
                class="additional-info">
                <Label
                    row="0" col="0"
                    text="&#xf041;"
                    class="fa icon-additional-info"
                ></Label>
                <Label
                    row="0" col="1"
                    text="{{ office }}"
                    class="fa description-additional-info"
                 ></Label>
                <Label
                    row="1" col="0"
                    text="&#xf041;"
                    class="fa icon-additional-info"
                ></Label>
                <Label
                    row="1"
                    col="1"
                    text="{{ email }}"
                    class="fa description-additional-info"
                ></Label>
            </GridLayout>

            <StackLayout
                class="match-pref-container"
                row="3"
                col="0"
            >
                <SegmentedBar
                    [items]="matchOptions"
                    selectedIndex="{{ selectedIndex }}"
                    (selectedIndexChange)="onSelectedIndexChange($event)"
                    class="segmentedBar"
                ></SegmentedBar>
            </StackLayout>

            <StackLayout
                class="interests-container"
                row="4"
                col="0"            >
                <Label
                    class="interests-label"
                    text="Interests"
                    textWrap="true"
                    textAlignment="center"
                ></Label>
                <ScrollView>
                    <StackLayout>
                        <ListView height="125" [items]="interests" (itemTap)="onItemTap($event)">
                            <ng-template let-interest="item" let-i="index" let-odd="odd" let-even="even">
                                <StackLayout orientation="horizontal" class="list-group-item" height="40">
                                    <Label  [text]="interest"></Label>
                                </StackLayout>
                            </ng-template>
                        </ListView>
                    </StackLayout>
                </ScrollView>
            </StackLayout>

        </GridLayout>
    </ScrollView>
</GridLayout>
