@import './_app.common';

.sign-up-btn {
    color: blue;
    background-color: transparent;
    padding: 5;
    font-size: 12pt;
    border-radius: 8;
    border: 1px;
    border-color: transparent;
}
